<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500&display=swap" rel="stylesheet">
    </head>    
<body>
    <title>HearAndNow Karaoke App</title>

    {% if selected_song %}
        <h1>Selected Song</h1>
        <p>Title: {{ selected_song['track_name'].values[0] }}</p>
        <p>Artist: {{ selected_song['artist_name'].values[0] }}</p>
        <p><a href="{{ url_for('song') }}">View Details</a></p>
    {% else %}
        <h1>Welcome to the HearAndNow Karaoke App!</h1>
        <h2>Select your song! What are you in the mood to sing right now?</h2>

        <table>
            <thead>
                <tr>
                    <th>HearAndNow Karaoke Recommended Songs</th>
                    <th>
                    <button class="refreshButton"onclick="reroll()">Re-roll Songs</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cluster_id in clusters['clusters'].unique() %}
                    <tr>
                        <td>
                            {% set selected_song = clusters[clusters['clusters'] == cluster_id].sample() %}
                            <p>Title: {{ selected_song['track_name'].values[0] }}</p>
                            <p>Artist: {{ selected_song['artist_name'].values[0] }}</p>
                        </td>
                        <td>
                            <form action="{{ url_for('song') }}" method="post">
                                <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
                                <input type="hidden" name="selected_song_index" value="{{ loop.index0 }}">
                                <input type="hidden" name="selected_song_title" value="{{ selected_song['track_name'].values[0] }}">
                                <input type="hidden" name="selected_song_artist" value="{{ selected_song['artist_name'].values[0] }}">
                                <button type="submit">Select</button>
                            </form>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>
</html>
