<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <title>HearAndNow Karaoke App - {{ selected_song_title }} by {{ selected_song_artist }}</title>

    <div id="selected-song">
        <h3>Your Selected Song is:</h3>
        <h1>{{ selected_song_title }}</h1>
        <p>by:</p>
        <h2>{{ selected_song_artist }}</h2>
    </div>

    <h3>How about one of these songs next?</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th></th> <!-- Unlabeled column for Select buttons -->
            </tr>
        </thead>
        <tbody>
            {% for _, song in next_songs.iterrows() %}
                <tr>
                    <td>{{ song['track_name'] }}</td>
                    <td>{{ song['artist_name'] }}</td>
                    <td>
                        <form action="{{ url_for('submit_selection') }}" method="post">
                            <input type="hidden" name="selected_song_title" value="{{ song['track_name'] }}">
                            <input type="hidden" name="selected_song_artist" value="{{ song['artist_name'] }}">
                            <button type="submit" name="action" value="select_next">Select</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button to restart recommendation system -->
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Restart Recommendation System (Go Back)</button>
    </form>
</body>
</html>
