/* styles.css */
body {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin: 20px;
}

h1, h2 {
    margin: 10px 0;
    color: #333;
}

h3, p {
    margin: 10px 0;
    color: #333;
}

table {
    width: 60%;
    margin-top: 20px;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #3498db;
    color: #fff;
}

#selected-song {
    border: 2px solid #a7d0eb;
    padding: 15px;
    margin: 20px;
    font-size: 1.2em;
    background-color: #4b9487;
}

button {
    padding: 10px 20px;
    border: 2px solid #3498db;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #fff;
    color: #99c8e7;
}

.refreshButton {
    background-color: #2ecc71;
    color: #fff;
    border: 2px solid #27ae60;
}

.refreshButton:hover {
    background-color: #fff;
    color: #2ecc71;
}

#history-and-percentages {
    display: flex;
    justify-content: space-around;
}

.compact-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.compact-list div {
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
}